<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="/js/myScript.js"></script>
</head>
<body>
	<header th:fragment="header">
		<h1>헤더영역</h1>
		<div>
			<a href="/signup">회원가입</a>
			<span th:unless="${session.loginfo}">
				<a href="/signin">로그인</a>
			</span>
			<span th:if="${session.loginfo}">
				<a href="#" th:text="${session.loginfo.name}">이름출력</a>
				<a href="/member/signout">로그아웃</a>
			</span>
			<button type="button" id="btn-b">게시판</button>
		</div>
	</header>
</body>
</html>