<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="view/common/common::head" />
</head>
<body>
	<th:block th:insert="view/common/common::header" />
	<main>
		<h1>jpa-게시판입니다.</h1>
		<div>
			<p><a href="/boardjpa/write">글쓰기</a></p>
			<table>
				<thead>
					<tr>
						<td>글번호</td>
						<td>제목</td>
						<td>조회수</td>
						<td>작성자</td>
						<td>작성일</td>
					</tr>
				</thead>
				
			</table>
			<div>
				
				
			</div>
		</div>
	</main>
</body>
</html>